:root {
    /* Body/UI */
    --md-ref-typeface-plain: "Inter Variable", sans-serif;

    /* Headlines */
    --md-ref-typeface-brand: "Inter Tight Variable", sans-serif;
}

html,
body {
    margin: 0;
    background: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
}

h1, h2, h3, h4, h5, h6,
p, span, a, div {
    margin: 0;
}